# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
DB_DATABASE=lojademo_db
DB_USERNAME=lojademo_user
DB_PASSWORD=lojademo_pass

# Laravel
APP_ENV=production
APP_DEBUG=false
APP_URL=https://lojademo.rfconsultoria.com.br

# React
VITE_API_URL=https://api-lojademo.rfconsultoria.com.br
